* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fbfbfb;
  text-align: center;
}

header {
  margin: 3rem 0 5rem;
}

h1 {
  font-weight: normal;
}

.description {
  margin: 0 auto;
  max-width: 320px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.fact-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.fact {
  position: relative;
  margin-bottom: 7rem;
}

.fact__reference {
  position: relative;
  padding-left: 1.5rem;
}

.fact__reference::before {
  content: "—";
  position: absolute;
  left: 0;
}

.info {
  margin-top: 5rem;
  font-style: italic;
  text-align: center;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 5rem 0 3rem;
}

.message {
  padding: 1rem 1.5rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}